_site
.sass-cache
.jekyll-metadata
Gemfile.lock

# VS Code settings and workspace files
.vscode/

# macOS system files
.DS_Store

# Other potential unwanted files (e.g., log files, temporary files)
*.log

